In [2]:
# Setup 

import pandas as pd
import numpy as np

In [3]:
# Storing Path

cancer_data = "Resources/County_Cancer_Data.csv"

In [4]:
# Reading in the data

county_cancer_df = pd.read_csv(cancer_data)
county_cancer_df.head()

,State,Unnamed: 1,"Age-Adjusted Incidence Rate(†) - cases per 100,000",Lower 95% Confidence Interval,Upper 95% Confidence Interval,Average Annual Count,Recent Trend,Recent 5-Year Trend (‡) in Incidence Rates,Lower 95% Confidence Interval.1,Upper 95% Confidence Interval.1
0,"Los Angeles County, California(7,8)",NaN,380.3,378.6,382,39939,falling,-1.9,-2.3,-1.4
1,"Cook County, Illinois(6,8)",NaN,448.9,446.4,451.4,25748,falling,-1.4,-1.8,-1.1
2,"Maricopa County, Arizona(6,8)",NaN,394.2,391.6,396.8,17933,falling,-1.3,-1.7,-1
3,"Harris County, Texas(6,8)",NaN,395.1,392.2,397.9,15735,falling,-2.7,-3.2,-2.1
4,"San Diego County, California(7,8)",NaN,417.7,414.6,420.8,14412,falling,-1.5,-1.8,-1.2

In [5]:
# Remove unnecessary columns from the dataframe

reduced_county_cancer_df = county_cancer_df[["State","Age-Adjusted Incidence Rate(†) - cases per 100,000","Average Annual Count","Recent Trend", ]]
reduced_county_cancer_df.head()

,State,"Age-Adjusted Incidence Rate(†) - cases per 100,000",Average Annual Count,Recent Trend
0,"Los Angeles County, California(7,8)",380.3,39939,falling
1,"Cook County, Illinois(6,8)",448.9,25748,falling
2,"Maricopa County, Arizona(6,8)",394.2,17933,falling
3,"Harris County, Texas(6,8)",395.1,15735,falling
4,"San Diego County, California(7,8)",417.7,14412,falling

In [6]:
def del_superscript (x):
    return x.split("(")[0]

def to_str (x):
    return f"{x}" 

def state (x):
    return x.split(",")[1]

In [7]:
reduced_county_cancer_df["State"] = reduced_county_cancer_df["State"].map(to_str)

reduced_county_cancer_df["State"] = reduced_county_cancer_df["State"].copy().map(del_superscript)

# reduced_county_cancer_df.dtypes

reduced_county_cancer_df.head()

C:\Users\rnorris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\rnorris\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,State,"Age-Adjusted Incidence Rate(†) - cases per 100,000",Average Annual Count,Recent Trend
0,"Los Angeles County, California",380.3,39939,falling
1,"Cook County, Illinois",448.9,25748,falling
2,"Maricopa County, Arizona",394.2,17933,falling
3,"Harris County, Texas",395.1,15735,falling
4,"San Diego County, California",417.7,14412,falling

In [8]:
# Split out county and stae into separate columns

state_breakout = reduced_county_cancer_df["State"].copy().str.split(",", n = 1, expand = True)

state_breakout = state_breakout.rename(columns = {0:"County",1:"State"})

# reduced_county_cancer_df["State"] = reduced_county_cancer_df["State"].map(state)

# reduced_county_cancer_df["County"] = state_breakout[0]

# reduced_county_cancer_df["State"] = state_breakout[1]

# reduced_county_cancer_df.drop(columns =["State"], inplace = True)

state_breakout.head()

               County        State
0  Los Angeles County   California
1         Cook County     Illinois
2     Maricopa County      Arizona
3       Harris County        Texas
4    San Diego County   California

In [9]:

# reduced_county_cancer_df = county_cancer_df[["State","Age-Adjusted Incidence Rate(†) - cases per 100,000","Average Annual Count","Recent Trend", ]]

reduced_county_cancer_df = reduced_county_cancer_df.rename(columns = {'State': 'State and County','Age-Adjusted Incidence Rate(†) - cases per 100,000':'Age-Adjusted Incidence Rate - cases per 100,000'} )

reduced_county_cancer_df.head()

,State and County,"Age-Adjusted Incidence Rate - cases per 100,000",Average Annual Count,Recent Trend
0,"Los Angeles County, California",380.3,39939,falling
1,"Cook County, Illinois",448.9,25748,falling
2,"Maricopa County, Arizona",394.2,17933,falling
3,"Harris County, Texas",395.1,15735,falling
4,"San Diego County, California",417.7,14412,falling

In [10]:
# Combine data frames 

combined_df = pd.merge(state_breakout,reduced_county_cancer_df, left_index = True, right_index = True)

# state_breakout.join(reduced_county_cancer_df, how = 'outer') 
combined_df.head()

,County,State,State and County,"Age-Adjusted Incidence Rate - cases per 100,000",Average Annual Count,Recent Trend
0,Los Angeles County,California,"Los Angeles County, California",380.3,39939,falling
1,Cook County,Illinois,"Cook County, Illinois",448.9,25748,falling
2,Maricopa County,Arizona,"Maricopa County, Arizona",394.2,17933,falling
3,Harris County,Texas,"Harris County, Texas",395.1,15735,falling
4,San Diego County,California,"San Diego County, California",417.7,14412,falling

In [11]:
combined_df.groupby(["State", "Recent Trend"])["County"].count()

State       Recent Trend
 Alabama    falling         10
            rising           7
            stable          50
 Alaska     *                3
            falling          7
                            ..
 Wisconsin  falling         16
            rising           1
            stable          55
 Wyoming    falling          6
            stable          17
Name: County, Length: 136, dtype: int64

In [89]:
del combined_df['State and County']

combined_df.head()

,County,State,"Age-Adjusted Incidence Rate - cases per 100,000",Average Annual Count,Recent Trend
0,Los Angeles County,California,380.3,39939,falling
1,Cook County,Illinois,448.9,25748,falling
2,Maricopa County,Arizona,394.2,17933,falling
3,Harris County,Texas,395.1,15735,falling
4,San Diego County,California,417.7,14412,falling

In [106]:
# Rid of Kansas and Minnesota data, as they are excluded from this report

combined_df.drop(combined_df.loc[combined_df['State'] ==' Kansas'].index, inplace = True)

combined_df.drop(combined_df.loc[combined_df['State'] == ' Minnesota'].index, inplace = True)


# Rid of "3 or fewer" rows uner "Average Annual Count" column
combined_df.drop(combined_df.loc[combined_df['Average Annual Count'] == '3 or fewer'].index, inplace = True)


# print (combined_kansas_drop)
# print (combined_df)

In [107]:
# Export new df to csv

combined_df.to_csv (r'C:\Users\rnorris\Documents\GitHub\Project_1\cancer_export_df.csv', index = False, header = True)